

.todo-card{
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
    position: relative;
   display: flex;
   align-items: center;
  
   
}
.category{
position: absolute;
 top: 5px;
 right: 5px;
 background-color: wheat;
 font-size: 22px;
 padding:  5px;
 width: 80px;
 text-align: center;
 border-radius: 20px;
 
}
.delete-icon{
height: 22px;
margin-right: 10px;
cursor: pointer;
}

@keyframes delete-animation{
0%{
    transform: rotate(-25deg);
}
25%{
    transform: rotate(0deg);
}
50%{
    transform:rotate(25deg) ;
}
75%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(-25deg);
}
} 
    

.delete-icon:hover{
    height: 21px;
    animation-name:delete-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}